<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.mapper.SearchMapper">
	<insert id="insert" parameterType="StatVO">
		INSERT INTO AS_STAT(NICKNAME,AS_RATING,AS_WIN_RATIO,AS_KILL_DEATH_RATIO,AS_DAMAGE_PER_GAME,AS_TOP10_RATIO,AS_TIME_SURVIVED_PER_GAME,AS_ROUND_MOST_KILL) VALUES(#{nickname},#{rating},#{win_Ratio},#{kill_Death_Ratio},#{damage_Per_Game},#{top10_Ratio},#{time_Survived_Per_Game},#{round_Most_Kill})
	</insert>
	<select id="select" parameterType="String" resultMap="statResultMap">
		SELECT *FROM AS_STAT WHERE NICKNAME=#{nickname}
	</select>
	<update id="update" parameterType="StatVO">
		UPDATE AS_STAT SET NICKNAME=#{nickname},AS_RATING=#{rating},AS_WIN_RATIO=#{win_Ratio},AS_KILL_DEATH_RATIO=#{kill_Death_Ratio},AS_DAMAGE_PER_GAME=#{damage_Per_Game},AS_TOP10_RATIO=#{top10_Ratio},AS_TIME_SURVIVED_PER_GAME=#{time_Survived_Per_Game},AS_ROUND_MOST_KILL=#{as_Round_Most_Kill}
	</update>
	
	
	
	<resultMap type="StatVO" id="statResultMap">
		<result property="nickname" column="NICKNAME"/>
		<result property="rating" column="AS_RATING"/>
		<result property="win_Ratio" column="AS_WIN_RATIO"/>
		<result property="kill_Death_Ratio" column="AS_KILL_DEATH_RATIO"/>
		<result property="damage_Per_Game" column="AS_DAMAGE_PER_GAME"/>
		<result property="top10_Ratio" column="AS_TOP10_RATIO"/>
		<result property="time_Survived_Per_Game" column="AS_TIME_SURVIVED_PER_GAME"/>
		<result property="round_Most_Kill" column="AS_ROUND_MOST_KILL"/>
	</resultMap>
</mapper>